.price {
}

.price__wrapper {
    position: relative;
    padding: 70px 15px;
}

.price__inner {
    position: relative;
    z-index: 1;
}

.price__title {
    margin-bottom: 23px;
}

.price__row {
    display: flex;
    justify-content: flex-start;
}

.price-table {
    /* width: 50%; */
    width: 510px;
    padding: 0 15px 0 0;
    margin-bottom: 30px;
}

.price-table__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.price-table__title {
    margin-bottom: 29px;
    margin-right: 14px;
}

.price-table__text {
    color: #8093AC;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.2px;
}

.price-table__price {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 800;
}

.price-table__right {
    margin-left: 116px;
}

.price-table__right .price-table__text {
    letter-spacing: 0;
}

.price-btn {
    padding: 16px 34px;
}