.reports {
    background-color: #32495E;
}

.reports__wrapper {
    position: relative;
    padding: 70px 0;
}

.reports__title {
    margin-bottom: 20px; 
}

.reports-switcher {
    display: flex;
}

.reports-switcher__tab {
    position: relative;
    padding: 0;
    border: none;
    margin-right: 40px;
    padding-bottom: 6px;
}

.reports-switcher__tab:hover {
    background-color: transparent;
}

.reports-switcher__tab.is-active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E95258;
}

.reports__cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px 0;
}