body {
  font-family: 'TT Hoves';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #F9F9F9;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text--upper {
  text-transform: uppercase;
}

.btn {
  font-family: 'TT Hoves';
  font-weight: 500;
  color: #F9F9F9;
  padding: 16px 44px;
  border: 1px solid #F9F9F9;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn--center {
  text-align: center;
}

.btn:hover {
  color: #E95258;
  background-color: #F9F9F9;
}

.btn--dark {
  color: #32495E;
  border-color: #32495E;
}

.btn--dark:hover {
  color: #f9f9f9;
  background-color: #32495E;
}

.block__title {
  font-family: 'TT Hoves';
  font-weight: 800;
  font-size: 44px;
  line-height: 1.1;
  color: #F9F9F9;
  margin-bottom: 50px;
}

.text--dark {
  color: #32495E;
}

.text--extra-bold {
  font-weight: 800;
}

@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Regular'), local('TT-Hoves-Regular'),
    url('fonts/TTHoves-Regular.woff2') format('woff2'),
    url('fonts/TTHoves-Regular.woff') format('woff'),
    url('fonts/TTHoves-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Medium'), local('TT-Hoves-Medium'),
      url('fonts/TTHoves-Medium.woff2') format('woff2'),
      url('fonts/TTHoves-Medium.woff') format('woff'),
      url('fonts/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves DemiBold'), local('TT-Hoves-DemiBold'),
      url('fonts/TTHoves-DemiBold.woff2') format('woff2'),
      url('fonts/TTHoves-DemiBold.woff') format('woff'),
      url('fonts/TTHoves-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Bold'), local('TT-Hoves-Bold'),
      url('fonts/TTHoves-Bold.woff2') format('woff2'),
      url('fonts/TTHoves-Bold.woff') format('woff'),
      url('fonts/TTHoves-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves ExtraBold'), local('TT-Hoves-ExtraBold'),
      url('fonts/TTHoves-ExtraBold.woff2') format('woff2'),
      url('fonts/TTHoves-ExtraBold.woff') format('woff'),
      url('fonts/TTHoves-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
