.contacts {
    padding: 74px 0 71px;
    background-color: #f9f9f9;
}

.contacts__map {
    height: 360px;
    background-color: #cccc;
    margin-top: 55px;
}

.contacts__row {
    display: flex;
    margin-top: 49px;
}

.contacts__column {
    width: 261px;
    margin-right: 10px;
}

.contacts__column:last-child {
    margin-right: 0;
}

.contacts-title {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
}

.contacts-text {
    line-height: 1.75;
}